/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.section {
  inline-size: var(--section-width, clamp(320px, 100%, 696px));
  margin: 0 auto;
}

.oversaturated-filter {
  filter: saturate(3);
}

.desaturated-filter {
  filter: saturate(0.2) brightness(1.3);
}

.synthwave-filter {
  filter: hue-rotate(30deg);
}

.inverted-filter {
  filter: invert(0.8);
}

.inverted-filter {
  filter: invert(0.8);
}

.sepia-filter {
  filter: sepia(0.9);
}

.blurred-filter {
  filter: blur(15px);
}

.retro-filter {
  filter: saturate(2) hue-rotate(100deg) brightness(0.8) contrast(0.5);
}

.page {
  font-family: var(--main-font);
  color: var(--text-color, #000);
  font-size: var(--text-font-size, 18px);
  background-image: var(--background-gradients);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding: 100px 0;
  font-variation-settings: "wght" var(--text-weight, 400);
}

.header {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  align-items: center;
  margin-block-end: 100px;
  padding: 120px 14px;
  border: var(--content-block-border-width, 2px) solid
    var(--content-block-border-color, #000);
  background-color: var(--content-block-background, #fff);
  text-align: center;
  text-transform: uppercase;
}

.header__logo {
  font-family: var(--accent-font, "Press Start 2P", fantasy);
  font-size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
  line-height: 1;
}

.header__title {
  font-family: var(--accent-font, "Press Start 2P", fantasy);
  font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  line-height: 1.2;
}

.main__sprint-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  gap: 50px;
  margin: 0 auto;
}

.sprint-list__card {
  border: var(--content-block-border-width, 2px) solid
    var(--content-block-border-color, #000);
  background-color: var(--content-block-background, #fff);
}

.card__title {
  font-family: var(--main-font, "Inter", sans-serif);
  font-variation-settings: "wght" var(--title-weight, 700);
  font-size: var(--text-font-size, 18px);
  padding: 3px 10px;
  border-block-end: var(--content-block-border-width, 2px) solid
    var(--content-block-border-color, #000);
}

.card__image-container {
  position: relative;
  overflow: hidden;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__image {
  position: absolute;
  top: 0;
  right: 0;
  block-size: 100%;
  object-fit: cover;
  object-position: right center;
}

/* Стили для лейбла/водяного знака */
.card__watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font, "Press Start 2P", fantasy);
  font-size: 14px;
  line-height: 1;
  color: var(--text-color, #000);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 1;

  /* Стили для обводки текста */
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  -webkit-text-stroke: 1px var(--stroke-color, #fff);
  text-stroke: 1px var(--stroke-color, #fff);
}

@supports (text-stroke: 1px var(--stroke-color, #fff)) or
  (-webkit-text-stroke: 1px var(--stroke-color, #fff)) {
  .card__watermark {
    text-shadow: none;
  }
}

.card__content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  border-block-start: var(--content-block-border-width, 2px) solid
    var(--content-block-border-color, #000);
}

.card__text {
  font-family: var(--main-font);
  line-height: 1.17;
}

.card__actions {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding: 0px 25px 25px;
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--content-block-border-width, 2px) solid
    var(--content-block-border-color, #000);
  background-color: var(--content-block-background, #fff);
  cursor: pointer;
  padding: 12.5px 37px;
  font-family: var(--accent-font, "Press Start 2P", fantasy);
  font-size: var(--accent-font-size, 14px);
  line-height: 0.9;
}

.card__icon-button {
  padding: 9px;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  border-color: transparent;
}
