/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: repeating-linear-gradient(
    0deg,
    transparent 0px,
    transparent 2px,
    #d3d3d3 2px,
    #d3d3d3 4px
  ),
  repeating-linear-gradient(
    90deg,
    transparent 0px,
    transparent 2px,
    #d3d3d3 2px,
    #d3d3d3 4px
  ),
  linear-gradient(to bottom, #e7e7e7 0%, #1a1a1a 100%);
  background-size: cover;
  background-attachment: fixed;
}

.cards {
  inline-size: 696px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  gap: 5px;
}

.card__image {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: right center;
}
